@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?famille=Ubuntu&afficher=swap');

* {

    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

:root {

    --background-color: #262626;
    --content-color: #323131;
    --text-color: #FFFFFF;

}

body {

    background: var(--background-color);

}

.main {

    border-bottom: 2px solid var(--text-color);
    padding: 10px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    background: var(--content-color);


}

.img-logo {

    width: 80px;
    height: 80px;
    transform: translateY(5px);

}

.main-title {

    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    color: var(--text-color);
    font-family: var(--title-font);


}

.inter {

    margin-top: 15px;
    margin-left: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-input {

    margin-right: 5px; 
    width: 90%; 
    height: 80%;
    font-size: 25px;
    color: var(--text-color);
    background: transparent;
    outline: none;

}

.send-button {

    display: flex;
    align-items: center;
    justify-content: center;
    background: none;

}

.send-img {

    height: 22px;
    width: 22px;

}

.search {

    margin-left: 10%;
    margin-right: 10%;
    transform: translateY(150px);

}


a {

    text-decoration: none
    ;    

}

.search-container, .wikipedia {

    border-bottom: 2px solid var(--text-color);
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    width: 100%;
    transform: translateX(-10px);
    color: var(--text-color);
    background: var(--content-color);
    margin-bottom: 20px;

}

.inter-container {

    display: flex;
    align-items: center;

}

.wikipedia-title {

    margin-left: 10px;
    text-transform: uppercase;
    font-size: 80px;

}

.next-button {

    border-bottom: 2px solid var(--text-color);
    border-radius: 20px 20px 0px 0px;
    position: relative;
    width: 120px;
    height: 60px;
    transform: translateX(-10px);
    text-transform: uppercase;
    color: var(--text-color);
    background: var(--content-color);
    cursor: pointer;

}

.next-text {

    transition: 0.3s ease-in-out;

}

.next-button:hover > .next-text {

    transform: translateX(3px);
    letter-spacing: 5px;

}

@media screen and (max-width: 1300px) {

    .inter {

        width: 150%;

    }

}

@media screen and (max-width: 1200px) {

    .inter {

        width: 120%;

    }


}

@media screen and (max-width: 955px) {

    .inter {

        width: 100%;
    
    }

}
@media screen and (max-width: 875px) {

    .main-title {

        display: none;

    }

    .inter {

        width: 150%;
    
    }

    .inter-container {

        display: block;

    }


} 

@media screen and (max-width: 750px) {

    .inter {

        width: 125%;
    
    }

    .next-button {

        width: 104%;


    }

    .next-button:hover > .next-text {

    transform: translateX(0px);
    letter-spacing: 0px;

}



}

@media screen and (max-width: 650px) {

    .inter {

        width: 100%;
    
    }

}

@media screen and (max-width: 550px) {

    .main {

        justify-content: center;
        transform: translateX(-20px);
        padding-top: 0;
        padding-bottom: 15px;

    }

    .img-logo {

        display: none;

    }

}

@media screen and (max-width: 450px) {

    .inter {

        width: 90%;
        margin-left: 7%;
    }

    .search-input {

        padding: 5px;

    }

    .send-button {

        margin-right: 10px;

    }


}