<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/search.css">
	<title>{{.Query}} - CosmosSearch</title>
</head>
<body>
	<div class="main">
		<div class="main-search">
            <a href="/">
                <h1 class="main-title">cosmosearch</h1>   
            </a>
            <form method="get" action="/search/" class="searchForm"> 
                <div class="inter">
                    <img src="/static/images/search.png" alt="Search icon" class="search-img">
                        <input value="{{.Query}}" name="q" type="text" class="search-input" placeholder="Enter text to search">
                    <button class="send-button" type="submit"> 
                        <img src="/static/images/search.png" alt="Send icon" class="send-img">
                    </button>
                </div>
            </form>
        </div>
        <div class="search">



            {{range .Results}}
            <a href="{{.link}}">
                <div class="search-container">
                    <div class="supra-content">
                        <h1 class="container-title">{{.title}}</h1>
                        <p class="container-link">{{.link}}</p>
                        <p class="container-description">{{.description}}</p>
                    </div>
                </div>
            </a>
            {{end}}
        </div>
        <a href="{{.NextPageUrl}}" class="next-link"><div class="search-container next-button">more</div></a>
    </div>
</body>
</html>