<!DOCTYPE html>
    <html lang=en>
    <head>
        <meta charset=UTF-8>
        <meta name=viewport content=width=device-width, initial-scale=1.0>
        <link rel="stylesheet" type="text/css" href="./style/style.css">
        <title>Cosmos - Search</title>
    </head>
    <body>
        <div class="main">
            <h1 class="main-title">cosmosearch</h1>    
            <div class="inter">
                <img src="./img/search.png" alt="Search icon" class="search-img">
                    <input type="text" class="search-input" placeholder="Enter text to search">
                <button class="send-button" onclick="window.location.href='./pages/search.html'"> 
                    <img src="./img/send.png" alt="Send icon" class="send-img">
                </button>
            </div>
            <div class="line"></div>
            <p class="privacy-text">Privacy friendly, beautiful metasearch engine...</p>
        </div>
    </body>
</html>
