<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style/style.css') }}">
    <title>JdM's Search</title>
</head>
<body>
    <a class="homeA" href="/">
        <h1>JdM's search</h1>
    </a>
    <form method="get" action="/search/" class="searchForm">
        <input placeholder="What do you want to find ?" value="{{query}}" class="searchInput" type="text" name="query">
        <button class="searchButton" type="submit">Let's find</button>
    </form>
    <div class="results">
        {% for result in results %}
            <a class="resultA" href="{{result['link']}}">
                <div class="searchresult">
                        <h2 class="resultTitle">{{result['title']}}</h2>
                        <p class="resultLink">{{result['link']}}</p>
                        <p class="resultDescription">{{result['description']}}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>
