@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --background-color: #2B2A4C;
    --container-color: #363559;
    --border-color: #EA906C;
    --content-color: #EEE2DE;
    --hover-color: #444268;
}
body {
   background: var(--background-color);
   margin-left: 10%;
    margin-right: 10%;
}
a {
    text-decoration: none;
}
.main-search {
    margin-top: 10px;
    display: flex;
    justify-content: left;
}
.main-title {
    text-transform: uppercase;
    font-size: 35px;
    color: var(--content-color);
}
.inter {
    margin-left: 10px;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    height: 50px;
    width: 118%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--content-color);
}
.search-img {
    height: 20px;
}
.search-input {
    width: 75%;
    transition: 0.3s ease-in-out;
    height: 60%;
    background: var(--content-color);
    margin-left: 10px;
    margin-right: 10px;
}
.search-input:focus {
    outline: none;
}
.send-button {
    position: relative;
    border: 0;
    background: none;
    margin-left: 10px;
    margin-right: 10px;
}
.send-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 20px;
    cursor: pointer;
}
.search-container, .wikipedia {
    border-radius: 10px;
    padding: 10px;
    background: var(--container-color);
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--content-color);
    overflow-x: auto;
    scrollbar-width: none;
    transition: 0.3s ease-in-out;
}
.search-container:hover, .wikipedia:hover {
    background: var(--hover-color);
}
.supra-content {
}
.container-title {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 2px;
}
.wikipedia-title {
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 50px;
}
.inter-container {
    display: flex;
    margin-bottom: 5px;
}
.wiki-img {
    border-radius: 10px;
    height: 160px;
    width: 160px;
}
.next-button {
    display: flex;
    justify-content: center;
}
.next-link {
    font-size: 30px;
    text-decoration: none;
    color: var(--content-color);
    text-transform: uppercase;
}
@media screen and (max-width: 800px) {
    .main-search {
        display: block;
    }
    .main-title {
        display: none;
    }
    .inter {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        transform: translate(-10px);
    }
    .search-input {
        width: 85%;
    }
    .search-container:hover, .wikipedia:hover {
        background: var(--container-color);
    }
}

@media screen and (max-width: 700px) {
    .search-input {
        width: 83%;
    }
}
@media screen and (max-width: 600px) {
    .search-input {
        width: 82%;
    }
}

@media screen and (max-width: 500px) {
    .inter-container {
        display: block;
    }
    .wikipedia-title {
        margin-left: 0px;
        font-size: 30px;
    }
    .search-input {
        width: 78%;
    }
}
@media screen and (max-width: 400px) {
   .search-input {
        width: 77%;
    } 
}
@media screen and (max-width: 350px) {
   .search-input {
        width: 76%;
    } 
}
@media screen and (min-width: 1200px) {
    .inter {
        width: 200%;
    }
    .search-input {
        width: 85%;
    }
    .send-button {
        margin: 0;
    }
}

@media screen and (min-width: 1800px) {
    .inter {
        width: 350%;
    }
    .search-input {
        width: 90%;
    }
}