@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {

    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

:root {

    --background-color: #2B2A4C;
    --border-color: #EA906C;
    --content-color: #EEE2DE;

}

body {

   background: var(--background-color); 

}

.main {

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.main-title {

    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    color: var(--content-color);


}

.inter {

    border: 2px solid var(--border-color);
    border-radius: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--content-color);

}

.search-img {

    height: 20px;

}

.search-input {

    width: 80%;
    transition: 0.3s ease-in-out;
    height: 60%;
    background: var(--content-color);
    margin-left: 10px;
    margin-right: 10px;

}

.search-input:focus {

    outline: none;

}

.send-button {

    position: relative;
    border: 0;
    background: none;
    margin-left: 10px;
    margin-right: 10px;


}

.send-img {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 20px;
    cursor: pointer;

}

.line {

    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 3px;
    background: var(--content-color);

}

.privacy-text {

    color: var(--content-color);

}

@media screen and (max-width: 700px) {

    .main-title {

        font-size: 50px;

    }

}

@media screen and (max-width: 450px) {

    .main-title {

        font-size: 35px;

    }

    .search-input {

        width: 68%;

    }

    .privacy-text {

        font-size: 10px;

    }

}