<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style/search.css">
	<title>{{query}} - CosmosSearch</title>
</head>
<body>
	<div class="main">
		<div class="main-search">
            <h1 class="main-title">cosmosearch</h1>    
            <form method="get" action="/search/" class="searchForm"> 
                <div class="inter">
                    <img src="{{ url_for('static', filename='images/search.png') }}" alt="Search icon" class="search-img">
                        <input name="query" type="text" class="search-input" placeholder="Enter text to search">
                    <button class="send-button" type="submit"> 
                        <img src="{{ url_for('static', filename='images/send.png') }}" alt="Send icon" class="send-img">
                    </button>
                </div>
            </form>
        </div>
        <div class="search">
            {% for i in info %}
            <div class="wikipedia">
                <div class="inter-container">
                    <img src="{{i["image"]}}" alt="" width="200">
                    <h1 class="wikipedia-title">{{i["title"]}}</h1>
                </div>
                <p class="container-description">{{i["summary"]}}</p>
            </div>
            {% endfor %}
        	<div class="search-container">
        		<h1 class="container-title">This is a super cool title</h1>
        		<p class="container-link">https://rmbi.ch</p>
        		<p class="container-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quia ex eius saepe maxime, voluptate ducimus eveniet deleniti illum officiis doloremque nobis cum tempora, consequuntur omnis aspernatur ea ullam a.</p>
        	</div>
        </div>
    </div>
</body>
</html>